{
  "openapi": "3.1.0",
  "info": {
    "title": "LLM Hub API",
    "description": "新一代大模型网关与AI资产管理系统",
    "version": "1.0.0",
    "contact": {
      "name": "LLM Hub Team",
      "url": "https://github.com/LLMHubTeam/llm-hub"
    }
  },
  "servers": [
    {
      "url": "https://api.llmhub.com.cn/v1",
      "description": "生产环境"
    }
  ],
  "paths": {
    "/chat/completions": {
      "post": {
        "summary": "OpenAI 对话格式（Chat Completions）",
        "description": "给定一组包含对话的消息列表，模型将返回一个响应。",
        "operationId": "createChatCompletion",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateChatCompletionRequest"
              },
              "examples": {
                "text_example": {
                  "summary": "基础文本对话",
                  "value": {
                    "model": "gpt-5-nano",
                    "messages": [
                      {
                        "role": "developer",
                        "content": "你是一个有帮助的助手。"
                      },
                      {
                        "role": "user",
                        "content": "你好！"
                      }
                    ]
                  }
                },
                "image_example": {
                  "summary": "图像分析对话",
                  "value": {
                    "model": "gpt-5-nano",
                    "messages": [
                      {
                        "role": "user",
                        "content": [
                          {
                            "type": "text",
                            "text": "这张图片里有什么？"
                          },
                          {
                            "type": "image_url",
                            "image_url": {
                              "url": "https://upload.wikimedia.org/wikipedia/commons/thumb/d/dd/Gfp-wisconsin-madison-the-nature-boardwalk.jpg/2560px-Gfp-wisconsin-madison-the-nature-boardwalk.jpg"
                            }
                          }
                        ]
                      }
                    ],
                    "max_tokens": 300
                  }
                },
                "function_call_example": {
                  "summary": "函数调用",
                  "value": {
                    "model": "gpt-5-nano",
                    "messages": [
                      {
                        "role": "user",
                        "content": "波士顿今天的天气怎么样？"
                      }
                    ],
                    "tools": [
                      {
                        "type": "function",
                        "function": {
                          "name": "get_current_weather",
                          "description": "获取指定位置的当前天气",
                          "parameters": {
                            "type": "object",
                            "properties": {
                              "location": {
                                "type": "string",
                                "description": "城市和州，例如 San Francisco, CA"
                              },
                              "unit": {
                                "type": "string",
                                "enum": ["celsius", "fahrenheit"]
                              }
                            },
                            "required": ["location"]
                          }
                        }
                      }
                    ],
                    "tool_choice": "auto"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功的响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateChatCompletionResponse"
                },
                "examples": {
                  "text_response": {
                    "summary": "文本对话响应",
                    "value": {
                      "id": "chatcmpl-B9MBs8CjcvOU2jLn4n570S5qMJKcT",
                      "object": "chat.completion",
                      "created": 1741569952,
                      "model": "gpt-4.1-2025-04-14",
                      "choices": [
                        {
                          "index": 0,
                          "message": {
                            "role": "assistant",
                            "content": "你好！我能为你提供什么帮助？",
                            "refusal": null,
                            "annotations": []
                          },
                          "logprobs": null,
                          "finish_reason": "stop"
                        }
                      ],
                      "usage": {
                        "prompt_tokens": 19,
                        "completion_tokens": 10,
                        "total_tokens": 29,
                        "prompt_tokens_details": {
                          "cached_tokens": 0,
                          "audio_tokens": 0
                        },
                        "completion_tokens_details": {
                          "reasoning_tokens": 0,
                          "audio_tokens": 0,
                          "accepted_prediction_tokens": 0,
                          "rejected_prediction_tokens": 0
                        }
                      },
                      "service_tier": "default"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": ["Chat"]
      }
    },
    "/responses": {
      "post": {
        "summary": "OpenAI 响应格式（Responses）",
        "description": "创建与模型的有状态交互，将先前响应的输出用作输入。",
        "operationId": "createResponse",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateResponseRequest"
              },
              "examples": {
                "text_example": {
                  "summary": "基础文本响应",
                  "value": {
                    "model": "gpt-5-nano",
                    "input": "讲一个三句话的关于独角兽的睡前故事。"
                  }
                },
                "image_example": {
                  "summary": "图像分析响应",
                  "value": {
                    "model": "gpt-5-nano",
                    "input": [
                      {
                        "role": "user",
                        "content": [
                          {"type": "input_text", "text": "描述这张图片中的内容"},
                          {
                            "type": "input_image",
                            "image_url": "https://upload.wikimedia.org/wikipedia/commons/thumb/d/dd/Gfp-wisconsin-madison-the-nature-boardwalk.jpg/2560px-Gfp-wisconsin-madison-the-nature-boardwalk.jpg"
                          }
                        ]
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功的响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateResponseResponse"
                }
              }
            }
          }
        },
        "tags": ["Responses"]
      }
    }
  },
  "components": {
    "schemas": {
      "CreateChatCompletionRequest": {
        "type": "object",
        "required": ["model", "messages"],
        "properties": {
          "model": {
            "type": "string",
            "description": "要使用的模型 ID"
          },
          "messages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ChatCompletionMessage"
            },
            "description": "到目前为止包含对话的消息列表"
          },
          "temperature": {
            "type": "number",
            "minimum": 0,
            "maximum": 2,
            "default": 1,
            "description": "要使用的采样温度，介于 0 和 2 之间"
          },
          "top_p": {
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "default": 1,
            "description": "一种替代采样温度的方法，称为核采样"
          },
          "n": {
            "type": "integer",
            "minimum": 1,
            "default": 1,
            "description": "为每个输入消息生成多少个聊天补全选择"
          },
          "stream": {
            "type": "boolean",
            "default": false,
            "description": "是否使用服务器发送事件流式传输响应"
          },
          "stop": {
            "oneOf": [
              {"type": "string"},
              {"type": "array", "items": {"type": "string"}}
            ],
            "description": "API 将停止生成更多标记的最多 4 个序列"
          },
          "max_tokens": {
            "type": "integer",
            "description": "聊天补全中可以生成的最大标记数"
          },
          "presence_penalty": {
            "type": "number",
            "minimum": -2,
            "maximum": 2,
            "default": 0,
            "description": "介于 -2.0 和 2.0 之间的数字"
          },
          "frequency_penalty": {
            "type": "number",
            "minimum": -2,
            "maximum": 2,
            "default": 0,
            "description": "介于 -2.0 和 2.0 之间的数字"
          },
          "logit_bias": {
            "type": "object",
            "description": "修改指定标记出现在补全中的可能性"
          },
          "user": {
            "type": "string",
            "description": "表示最终用户的唯一标识符"
          },
          "tools": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ChatCompletionTool"
            },
            "description": "模型可能调用的工具列表"
          },
          "tool_choice": {
            "oneOf": [
              {"type": "string", "enum": ["none", "auto", "required"]},
              {
                "type": "object",
                "properties": {
                  "type": {"type": "string", "enum": ["function"]},
                  "function": {
                    "type": "object",
                    "properties": {
                      "name": {"type": "string"}
                    },
                    "required": ["name"]
                  }
                },
                "required": ["type", "function"]
              }
            ],
            "description": "控制模型调用哪个工具"
          }
        }
      },
      "ChatCompletionMessage": {
        "type": "object",
        "required": ["role"],
        "properties": {
          "role": {
            "type": "string",
            "enum": ["system", "user", "assistant", "tool", "developer"],
            "description": "消息作者的角色"
          },
          "content": {
            "oneOf": [
              {"type": "string"},
              {
                "type": "array",
                "items": {
                  "oneOf": [
                    {"$ref": "#/components/schemas/TextContentPart"},
                    {"$ref": "#/components/schemas/ImageContentPart"}
                  ]
                }
              }
            ],
            "description": "消息的内容"
          },
          "name": {
            "type": "string",
            "description": "参与者的可选名称"
          },
          "tool_calls": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ChatCompletionMessageToolCall"
            },
            "description": "模型生成的工具调用"
          },
          "tool_call_id": {
            "type": "string",
            "description": "此消息响应的工具调用"
          }
        }
      },
      "TextContentPart": {
        "type": "object",
        "required": ["type", "text"],
        "properties": {
          "type": {
            "type": "string",
            "enum": ["text"],
            "description": "内容部分的类型"
          },
          "text": {
            "type": "string",
            "description": "文本内容"
          }
        }
      },
      "ImageContentPart": {
        "type": "object",
        "required": ["type", "image_url"],
        "properties": {
          "type": {
            "type": "string",
            "enum": ["image_url"],
            "description": "内容部分的类型"
          },
          "image_url": {
            "type": "object",
            "required": ["url"],
            "properties": {
              "url": {
                "type": "string",
                "description": "图像的URL或base64编码的图像数据"
              },
              "detail": {
                "type": "string",
                "enum": ["auto", "low", "high"],
                "default": "auto",
                "description": "指定图像的详细级别"
              }
            }
          }
        }
      },
      "ChatCompletionTool": {
        "type": "object",
        "required": ["type", "function"],
        "properties": {
          "type": {
            "type": "string",
            "enum": ["function"],
            "description": "工具的类型"
          },
          "function": {
            "$ref": "#/components/schemas/FunctionObject"
          }
        }
      },
      "FunctionObject": {
        "type": "object",
        "required": ["name"],
        "properties": {
          "name": {
            "type": "string",
            "description": "要调用的函数名称"
          },
          "description": {
            "type": "string",
            "description": "函数功能的描述"
          },
          "parameters": {
            "type": "object",
            "description": "函数接受的参数，描述为JSON Schema对象"
          }
        }
      },
      "ChatCompletionMessageToolCall": {
        "type": "object",
        "required": ["id", "type", "function"],
        "properties": {
          "id": {
            "type": "string",
            "description": "工具调用的ID"
          },
          "type": {
            "type": "string",
            "enum": ["function"],
            "description": "工具的类型"
          },
          "function": {
            "type": "object",
            "required": ["name", "arguments"],
            "properties": {
              "name": {
                "type": "string",
                "description": "要调用的函数的名称"
              },
              "arguments": {
                "type": "string",
                "description": "用于调用函数的参数，由模型以JSON格式生成"
              }
            }
          }
        }
      },
      "CreateChatCompletionResponse": {
        "type": "object",
        "required": ["id", "object", "created", "model", "choices"],
        "properties": {
          "id": {
            "type": "string",
            "description": "响应的唯一标识符"
          },
          "object": {
            "type": "string",
            "description": "对象类型"
          },
          "created": {
            "type": "integer",
            "description": "响应创建时间戳"
          },
          "model": {
            "type": "string",
            "description": "使用的模型名称"
          },
          "choices": {
            "type": "array",
            "items": {
              "type": "object",
              "required": ["index", "message", "finish_reason"],
              "properties": {
                "index": {
                  "type": "integer"
                },
                "message": {
                  "$ref": "#/components/schemas/ChatCompletionMessage"
                },
                "logprobs": {
                  "type": "object",
                  "nullable": true
                },
                "finish_reason": {
                  "type": "string",
                  "enum": ["stop", "length", "tool_calls", "content_filter"]
                }
              }
            }
          },
          "usage": {
            "type": "object",
            "properties": {
              "prompt_tokens": {
                "type": "integer"
              },
              "completion_tokens": {
                "type": "integer"
              },
              "total_tokens": {
                "type": "integer"
              }
            }
          }
        }
      },
      "CreateResponseRequest": {
        "type": "object",
        "required": ["model", "input"],
        "properties": {
          "model": {
            "type": "string",
            "description": "用于生成响应的模型ID"
          },
          "input": {
            "oneOf": [
              {"type": "string"},
              {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/InputMessage"
                }
              }
            ],
            "description": "提供给模型的文本、图像或文件输入"
          },
          "instructions": {
            "type": "string",
            "description": "作为模型上下文中的第一项插入系统消息"
          },
          "stream": {
            "type": "boolean",
            "default": false,
            "description": "是否流式传输响应"
          },
          "tools": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ResponseTool"
            },
            "description": "模型在生成响应时可能调用的工具数组"
          }
        }
      },
      "InputMessage": {
        "type": "object",
        "required": ["role", "content"],
        "properties": {
          "role": {
            "type": "string",
            "enum": ["user", "assistant", "system", "developer"]
          },
          "content": {
            "oneOf": [
              {"type": "string"},
              {
                "type": "array",
                "items": {
                  "oneOf": [
                    {"$ref": "#/components/schemas/InputTextContent"},
                    {"$ref": "#/components/schemas/InputImageContent"}
                  ]
                }
              }
            ]
          }
        }
      },
      "InputTextContent": {
        "type": "object",
        "required": ["type", "text"],
        "properties": {
          "type": {
            "type": "string",
            "enum": ["input_text"]
          },
          "text": {
            "type": "string"
          }
        }
      },
      "InputImageContent": {
        "type": "object",
        "required": ["type", "image_url"],
        "properties": {
          "type": {
            "type": "string",
            "enum": ["input_image"]
          },
          "image_url": {
            "type": "string"
          }
        }
      },
      "ResponseTool": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": ["function", "file_search", "web_search_preview"]
          },
          "function": {
            "$ref": "#/components/schemas/FunctionObject"
          }
        }
      },
      "CreateResponseResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string"
          },
          "created_at": {
            "type": "integer"
          },
          "model": {
            "type": "string"
          },
          "output": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      }
    },
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "API密钥需要以Bearer开头，例如：Bearer YOUR_API_KEY"
      }
    }
  },
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Chat",
      "description": "聊天补全相关接口"
    },
    {
      "name": "Responses",
      "description": "响应相关接口"
    }
  ]
}
