{
  "openapi": "3.1.0",
  "info": {
    "title": "OpenRouter Completion API",
    "description": "API for generating text completions from a given prompt.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://openrouter.ai/api/v1"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/completions": {
      "post": {
        "summary": "Create a completion",
        "description": "Generates a text completion given a prompt and model.",
        "operationId": "createCompletion",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "description": "Completion request body",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "model": {
                    "type": "string",
                    "description": "The model to use for text generation."
                  },
                  "prompt": {
                    "type": "string",
                    "description": "The input text prompt."
                  },
                  "max_tokens": {
                    "type": "integer",
                    "description": "The maximum number of tokens to generate."
                  }
                },
                "required": ["model", "prompt"]
              },
              "example": {
                "model": "openai/gpt-3.5-turbo-instruct",
                "prompt": "Write a haiku about recursion in programming.",
                "max_tokens": 100
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful completion response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": { "type": "string" },
                    "object": { "type": "string" },
                    "created": { "type": "integer" },
                    "model": { "type": "string" },
                    "choices": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "text": { "type": "string" },
                          "index": { "type": "integer" },
                          "finish_reason": { "type": "string" }
                        }
                      }
                    },
                    "usage": {
                      "type": "object",
                      "properties": {
                        "prompt_tokens": { "type": "integer" },
                        "completion_tokens": { "type": "integer" },
                        "total_tokens": { "type": "integer" }
                      }
                    }
                  }
                },
                "example": {
                  "id": "cmpl-123",
                  "object": "text_completion",
                  "created": 1677858242,
                  "model": "openai/gpt-3.5-turbo-instruct",
                  "choices": [
                    {
                      "text": "Code flows like water\nFunctions call themselves anew\nInfinite mirrors",
                      "index": 0,
                      "finish_reason": "stop"
                    }
                  ],
                  "usage": {
                    "prompt_tokens": 10,
                    "completion_tokens": 20,
                    "total_tokens": 30
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request error"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}