{
  "openapi": "3.1.0",
  "info": {
    "title": "Completion API",
    "description": "An API for sending text completion requests to a selected model in text-only format.",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://openrouter.ai/api/v1"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/completions": {
      "post": {
        "description": "Send a completion request to a selected model (text-only format).",
        "requestBody": {
          "description": "Details of the completion request, including the model and prompt.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompletionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful completion response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompletionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request, such as missing or invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized, invalid or missing Bearer token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "CompletionRequest": {
        "type": "object",
        "required": [
          "model",
          "prompt"
        ],
        "properties": {
          "model": {
            "type": "string",
            "description": "The identifier of the model to use for completion."
          },
          "prompt": {
            "type": "string",
            "description": "The input text prompt for the completion."
          }
        }
      },
      "CompletionResponse": {
        "type": "object",
        "required": [
          "completion"
        ],
        "properties": {
          "completion": {
            "type": "string",
            "description": "The generated text completion from the model."
          }
        }
      },
      "Error": {
        "type": "object",
        "required": [
          "code",
          "message"
        ],
        "properties": {
          "code": {
            "type": "integer",
            "format": "int32",
            "description": "Error code indicating the type of error."
          },
          "message": {
            "type": "string",
            "description": "A human-readable description of the error."
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Bearer token authentication for accessing the API."
      }
    }
  }
}