{
  "openapi": "3.1.0",
  "info": {
    "title": "多厂商 AI API 规范",
    "description": "统一的 OpenAPI 3.1.0 规范，支持 OpenAI、Anthropic、DeepSeek 和 Google Gemini API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.llmhub.com.cn",
      "description": "统一 API 端点"
    }
  ],
  "paths": {
    "/v1/chat/completions": {
      "post": {
        "summary": "聊天补全接口",
        "description": "支持 OpenAI、DeepSeek 和其他兼容聊天格式的模型",
        "tags": ["Chat"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatCompletionRequest"
              },
              "examples": {
                "openai_text": {
                  "summary": "OpenAI 文本对话示例",
                  "value": {
                    "model": "gpt-5-nano",
                    "messages": [
                      {
                        "role": "developer",
                        "content": "你是一个有帮助的助手。"
                      },
                      {
                        "role": "user",
                        "content": "你好！"
                      }
                    ]
                  }
                },
                "openai_image": {
                  "summary": "OpenAI 图像分析示例",
                  "value": {
                    "model": "gpt-5-nano",
                    "messages": [
                      {
                        "role": "user",
                        "content": [
                          {
                            "type": "text",
                            "text": "这张图片里有什么？"
                          },
                          {
                            "type": "image_url",
                            "image_url": {
                              "url": "https://upload.wikimedia.org/wikipedia/commons/thumb/d/dd/Gfp-wisconsin-madison-the-nature-boardwalk.jpg/2560px-Gfp-wisconsin-madison-the-nature-boardwalk.jpg"
                            }
                          }
                        ]
                      }
                    ],
                    "max_tokens": 300
                  }
                },
                "deepseek_reasoning": {
                  "summary": "DeepSeek 推理模型示例",
                  "value": {
                    "model": "deepseek-reasoner",
                    "messages": [
                      {
                        "role": "user",
                        "content": "9.11 and 9.8, which is greater?"
                      }
                    ],
                    "max_tokens": 4096
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatCompletionResponse"
                },
                "examples": {
                  "openai_text": {
                    "summary": "OpenAI 文本响应示例",
                    "value": {
                      "id": "chatcmpl-B9MBs8CjcvOU2jLn4n570S5qMJKcT",
                      "object": "chat.completion",
                      "created": 1741569952,
                      "model": "gpt-4.1-2025-04-14",
                      "choices": [
                        {
                          "index": 0,
                          "message": {
                            "role": "assistant",
                            "content": "你好！我能为你提供什么帮助？",
                            "refusal": null,
                            "annotations": []
                          },
                          "logprobs": null,
                          "finish_reason": "stop"
                        }
                      ],
                      "usage": {
                        "prompt_tokens": 19,
                        "completion_tokens": 10,
                        "total_tokens": 29,
                        "prompt_tokens_details": {
                          "cached_tokens": 0,
                          "audio_tokens": 0
                        },
                        "completion_tokens_details": {
                          "reasoning_tokens": 0,
                          "audio_tokens": 0,
                          "accepted_prediction_tokens": 0,
                          "rejected_prediction_tokens": 0
                        }
                      },
                      "service_tier": "default"
                    }
                  },
                  "deepseek_reasoning": {
                    "summary": "DeepSeek 推理响应示例",
                    "value": {
                      "id": "chatcmpl-123",
                      "object": "chat.completion",
                      "created": 1677652288,
                      "model": "deepseek-reasoner",
                      "choices": [
                        {
                          "index": 0,
                          "message": {
                            "role": "assistant",
                            "reasoning_content": "让我一步步思考:\n1. 我们需要比较9.11和9.8的大小\n2. 两个数都是小数,我们可以直接比较\n3. 9.8 = 9.80\n4. 9.11 < 9.80\n5. 所以9.8更大",
                            "content": "9.8 is greater than 9.11."
                          },
                          "finish_reason": "stop"
                        }
                      ],
                      "usage": {
                        "prompt_tokens": 10,
                        "completion_tokens": 15,
                        "total_tokens": 25
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/messages": {
      "post": {
        "summary": "Anthropic 消息接口",
        "description": "Anthropic Claude 模型的消息接口",
        "tags": ["Chat"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AnthropicMessageRequest"
              },
              "examples": {
                "anthropic_text": {
                  "summary": "Anthropic 文本对话示例",
                  "value": {
                    "model": "claude-3-haiku-20240307",
                    "max_tokens": 1024,
                    "messages": [
                      {
                        "role": "user",
                        "content": "Hello, world"
                      }
                    ]
                  }
                },
                "anthropic_image": {
                  "summary": "Anthropic 图像分析示例",
                  "value": {
                    "model": "claude-3-haiku-20240307",
                    "messages": [
                      {
                        "role": "user",
                        "content": [
                          {
                            "type": "image",
                            "source": {
                              "type": "base64",
                              "media_type": "image/jpeg",
                              "data": "/9j/4AAQSkZJRg..."
                            }
                          },
                          {
                            "type": "text",
                            "text": "这张图片里有什么?"
                          }
                        ]
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnthropicMessageResponse"
                },
                "examples": {
                  "anthropic_text": {
                    "summary": "Anthropic 文本响应示例",
                    "value": {
                      "content": [
                        {
                          "text": "Hi! My name is Claude.",
                          "type": "text"
                        }
                      ],
                      "id": "msg_013Zva2CMHLNnXjNJKqJ2EF",
                      "model": "claude-3-haiku-20240307",
                      "role": "assistant",
                      "stop_reason": "end_turn",
                      "stop_sequence": null,
                      "type": "message",
                      "usage": {
                        "input_tokens": 2095,
                        "output_tokens": 503
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1beta/models/{model}:generateContent": {
      "post": {
        "summary": "Google Gemini 内容生成接口",
        "description": "Google Gemini 模型的内容生成接口",
        "tags": ["Chat"],
        "parameters": [
          {
            "name": "model",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "gemini-2.0-flash"
            },
            "description": "模型名称"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GeminiContentRequest"
              },
              "examples": {
                "gemini_text": {
                  "summary": "Gemini 文本对话示例",
                  "value": {
                    "contents": [
                      {
                        "parts": [
                          {
                            "text": "Write a story about a magic backpack."
                          }
                        ]
                      }
                    ]
                  }
                },
                "gemini_image": {
                  "summary": "Gemini 图像分析示例",
                  "value": {
                    "contents": [
                      {
                        "parts": [
                          {
                            "text": "Tell me about this instrument"
                          },
                          {
                            "inline_data": {
                              "mime_type": "image/jpeg",
                              "data": "/9j/4AAQSkZJRg..."
                            }
                          }
                        ]
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeminiContentResponse"
                },
                "examples": {
                  "gemini_text": {
                    "summary": "Gemini 文本响应示例",
                    "value": {
                      "candidates": [
                        {
                          "content": {
                            "parts": [
                              {
                                "text": "你好！我是 Gemini，一个由 Google 开发的人工智能助手。我可以帮助您解答问题、提供信息、协助写作、代码编程等多种任务。请告诉我有什么可以为您效劳的！"
                              }
                            ],
                            "role": "model"
                          },
                          "finishReason": "STOP",
                          "index": 0,
                          "safetyRatings": [
                            {
                              "category": "HARM_CATEGORY_SEXUALLY_EXPLICIT",
                              "probability": "NEGLIGIBLE",
                              "blocked": false
                            }
                          ],
                          "tokenCount": 47
                        }
                      ],
                      "usageMetadata": {
                        "promptTokenCount": 4,
                        "candidatesTokenCount": 47,
                        "totalTokenCount": 51,
                        "promptTokensDetails": [
                          {
                            "modality": "TEXT",
                            "tokenCount": 4
                          }
                        ],
                        "candidatesTokensDetails": [
                          {
                            "modality": "TEXT",
                            "tokenCount": 47
                          }
                        ]
                      },
                      "modelVersion": "gemini-2.0-flash",
                      "responseId": "response-12345"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "ChatCompletionRequest": {
        "type": "object",
        "required": ["model", "messages"],
        "properties": {
          "model": {
            "type": "string",
            "description": "要使用的模型 ID",
            "example": "gpt-5-nano"
          },
          "messages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ChatMessage"
            },
            "description": "到目前为止包含对话的消息列表"
          },
          "stream": {
            "type": "boolean",
            "description": "是否使用流式响应",
            "default": false
          },
          "max_tokens": {
            "type": "integer",
            "description": "聊天补全中可以生成的最大标记数"
          },
          "temperature": {
            "type": "number",
            "description": "采样温度，介于 0 和 2 之间",
            "default": 1,
            "minimum": 0,
            "maximum": 2
          },
          "top_p": {
            "type": "number",
            "description": "核采样，考虑具有 top_p 概率质量的标记结果",
            "default": 1
          },
          "stop": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "description": "API 将停止生成更多标记的序列"
          },
          "tools": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Tool"
            },
            "description": "模型可能调用的工具列表"
          },
          "tool_choice": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "$ref": "#/components/schemas/ToolChoice"
              }
            ],
            "description": "控制模型调用哪个工具"
          }
        }
      },
      "ChatMessage": {
        "type": "object",
        "required": ["role", "content"],
        "properties": {
          "role": {
            "type": "string",
            "enum": ["system", "user", "assistant", "developer", "tool"],
            "description": "消息作者的角色"
          },
          "content": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ContentPart"
                }
              }
            ],
            "description": "消息的内容"
          },
          "name": {
            "type": "string",
            "description": "参与者的可选名称"
          }
        }
      },
      "ContentPart": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/TextContentPart"
          },
          {
            "$ref": "#/components/schemas/ImageContentPart"
          }
        ]
      },
      "TextContentPart": {
        "type": "object",
        "required": ["type", "text"],
        "properties": {
          "type": {
            "type": "string",
            "enum": ["text"]
          },
          "text": {
            "type": "string"
          }
        }
      },
      "ImageContentPart": {
        "type": "object",
        "required": ["type", "image_url"],
        "properties": {
          "type": {
            "type": "string",
            "enum": ["image_url"]
          },
          "image_url": {
            "$ref": "#/components/schemas/ImageUrl"
          }
        }
      },
      "ImageUrl": {
        "type": "object",
        "required": ["url"],
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "description": "图像的 URL 或 base64 编码的图像数据"
          },
          "detail": {
            "type": "string",
            "enum": ["auto", "low", "high"],
            "description": "指定图像的详细级别",
            "default": "auto"
          }
        }
      },
      "Tool": {
        "type": "object",
        "required": ["type"],
        "properties": {
          "type": {
            "type": "string",
            "enum": ["function"]
          },
          "function": {
            "$ref": "#/components/schemas/FunctionObject"
          }
        }
      },
      "FunctionObject": {
        "type": "object",
        "required": ["name"],
        "properties": {
          "name": {
            "type": "string",
            "description": "函数的名称"
          },
          "description": {
            "type": "string",
            "description": "函数功能的描述"
          },
          "parameters": {
            "type": "object",
            "description": "函数接受的参数，描述为 JSON Schema 对象"
          }
        }
      },
      "ToolChoice": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": ["function"]
          },
          "function": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              }
            }
          }
        }
      },
      "ChatCompletionResponse": {
        "type": "object",
        "required": ["id", "object", "created", "model", "choices"],
        "properties": {
          "id": {
            "type": "string",
            "description": "响应的唯一标识符"
          },
          "object": {
            "type": "string",
            "description": "对象类型"
          },
          "created": {
            "type": "integer",
            "description": "响应创建时间戳"
          },
          "model": {
            "type": "string",
            "description": "使用的模型名称"
          },
          "choices": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ChatCompletionChoice"
            }
          },
          "usage": {
            "$ref": "#/components/schemas/UsageInfo"
          }
        }
      },
      "ChatCompletionChoice": {
        "type": "object",
        "required": ["index", "message", "finish_reason"],
        "properties": {
          "index": {
            "type": "integer"
          },
          "message": {
            "$ref": "#/components/schemas/ChatMessage"
          },
          "finish_reason": {
            "type": "string",
            "enum": ["stop", "length", "tool_calls", "content_filter"]
          }
        }
      },
      "UsageInfo": {
        "type": "object",
        "properties": {
          "prompt_tokens": {
            "type": "integer"
          },
          "completion_tokens": {
            "type": "integer"
          },
          "total_tokens": {
            "type": "integer"
          }
        }
      },
      "AnthropicMessageRequest": {
        "type": "object",
        "required": ["model", "messages", "max_tokens"],
        "properties": {
          "model": {
            "type": "string",
            "description": "要使用的模型名称",
            "example": "claude-3-haiku-20240307"
          },
          "messages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AnthropicMessage"
            },
            "description": "输入消息列表"
          },
          "max_tokens": {
            "type": "integer",
            "description": "生成的最大 token 数量"
          },
          "stream": {
            "type": "boolean",
            "description": "是否使用服务器发送事件流式传输响应",
            "default": false
          },
          "system": {
            "type": "string",
            "description": "系统 prompt"
          },
          "temperature": {
            "type": "number",
            "description": "控制生成随机性",
            "default": 1.0
          },
          "tools": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AnthropicTool"
            },
            "description": "定义模型可能使用的工具"
          },
          "tool_choice": {
            "$ref": "#/components/schemas/AnthropicToolChoice",
            "description": "控制模型如何使用提供的工具"
          }
        }
      },
      "AnthropicMessage": {
        "type": "object",
        "required": ["role", "content"],
        "properties": {
          "role": {
            "type": "string",
            "enum": ["user", "assistant"]
          },
          "content": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/AnthropicContentBlock"
                }
              }
            ]
          }
        }
      },
      "AnthropicContentBlock": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/AnthropicTextBlock"
          },
          {
            "$ref": "#/components/schemas/AnthropicImageBlock"
          }
        ]
      },
      "AnthropicTextBlock": {
        "type": "object",
        "required": ["type", "text"],
        "properties": {
          "type": {
            "type": "string",
            "enum": ["text"]
          },
          "text": {
            "type": "string"
          }
        }
      },
      "AnthropicImageBlock": {
        "type": "object",
        "required": ["type", "source"],
        "properties": {
          "type": {
            "type": "string",
            "enum": ["image"]
          },
          "source": {
            "$ref": "#/components/schemas/AnthropicImageSource"
          }
        }
      },
      "AnthropicImageSource": {
        "type": "object",
        "required": ["type", "media_type", "data"],
        "properties": {
          "type": {
            "type": "string",
            "enum": ["base64"]
          },
          "media_type": {
            "type": "string",
            "enum": ["image/jpeg", "image/png", "image/gif", "image/webp"]
          },
          "data": {
            "type": "string",
            "description": "base64 编码的图片数据"
          }
        }
      },
      "AnthropicTool": {
        "type": "object",
        "required": ["name", "input_schema"],
        "properties": {
          "name": {
            "type": "string",
            "description": "工具名称"
          },
          "description": {
            "type": "string",
            "description": "工具描述"
          },
          "input_schema": {
            "type": "object",
            "description": "工具输入的 JSON Schema 定义"
          }
        }
      },
      "AnthropicToolChoice": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": ["auto", "any", "tool"]
          },
          "name": {
            "type": "string",
            "description": "指定要使用的工具名称"
          }
        }
      },
      "AnthropicMessageResponse": {
        "type": "object",
        "required": ["id", "type", "role", "content", "model", "stop_reason", "stop_sequence", "usage"],
        "properties": {
          "id": {
            "type": "string",
            "description": "响应的唯一标识符"
          },
          "type": {
            "type": "string",
            "enum": ["message"]
          },
          "role": {
            "type": "string",
            "enum": ["assistant"]
          },
          "content": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AnthropicContentBlock"
            }
          },
          "model": {
            "type": "string",
            "description": "使用的模型名称"
          },
          "stop_reason": {
            "type": "string",
            "enum": ["end_turn", "max_tokens", "stop_sequence", "tool_use"]
          },
          "stop_sequence": {
            "type": ["string", "null"]
          },
          "usage": {
            "$ref": "#/components/schemas/AnthropicUsage"
          }
        }
      },
      "AnthropicUsage": {
        "type": "object",
        "required": ["input_tokens", "output_tokens"],
        "properties": {
          "input_tokens": {
            "type": "integer"
          },
          "output_tokens": {
            "type": "integer"
          }
        }
      },
      "GeminiContentRequest": {
        "type": "object",
        "required": ["contents"],
        "properties": {
          "contents": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GeminiContent"
            },
            "description": "与模型当前对话的内容"
          },
          "tools": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GeminiTool"
            },
            "description": "模型可能用于生成下一个响应的工具列表"
          },
          "safetySettings": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GeminiSafetySetting"
            },
            "description": "用于屏蔽不安全内容的 SafetySetting 实例列表"
          },
          "generationConfig": {
            "$ref": "#/components/schemas/GeminiGenerationConfig",
            "description": "模型生成和输出的配置选项"
          }
        }
      },
      "GeminiContent": {
        "type": "object",
        "required": ["parts"],
        "properties": {
          "role": {
            "type": "string",
            "enum": ["user", "model"]
          },
          "parts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GeminiPart"
            }
          }
        }
      },
      "GeminiPart": {
        "type": "object",
        "properties": {
          "text": {
            "type": "string",
            "description": "纯文本内容"
          },
          "inline_data": {
            "$ref": "#/components/schemas/GeminiBlob",
            "description": "内联媒体字节数据"
          }
        }
      },
      "GeminiBlob": {
        "type": "object",
        "required": ["mime_type", "data"],
        "properties": {
          "mime_type": {
            "type": "string",
            "description": "媒体的 MIME 类型"
          },
          "data": {
            "type": "string",
            "description": "base64 编码的媒体数据"
          }
        }
      },
      "GeminiTool": {
        "type": "object",
        "properties": {
          "functionDeclarations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GeminiFunctionDeclaration"
            }
          }
        }
      },
      "GeminiFunctionDeclaration": {
        "type": "object",
        "required": ["name"],
        "properties": {
          "name": {
            "type": "string",
            "description": "函数名称"
          },
          "description": {
            "type": "string",
            "description": "函数功能描述"
          },
          "parameters": {
            "type": "object",
            "description": "函数参数，JSON Schema 格式"
          }
        }
      },
      "GeminiSafetySetting": {
        "type": "object",
        "required": ["category", "threshold"],
        "properties": {
          "category": {
            "type": "string",
            "enum": [
              "HARM_CATEGORY_HARASSMENT",
              "HARM_CATEGORY_HATE_SPEECH",
              "HARM_CATEGORY_SEXUALLY_EXPLICIT",
              "HARM_CATEGORY_DANGEROUS_CONTENT"
            ]
          },
          "threshold": {
            "type": "string",
            "enum": [
              "BLOCK_ONLY_HIGH",
              "BLOCK_MEDIUM_AND_ABOVE",
              "BLOCK_LOW_AND_ABOVE",
              "BLOCK_NONE"
            ]
          }
        }
      },
      "GeminiGenerationConfig": {
        "type": "object",
        "properties": {
          "temperature": {
            "type": "number",
            "description": "控制输出的随机性"
          },
          "maxOutputTokens": {
            "type": "integer",
            "description": "候选回答中包含的令牌数量上限"
          },
          "topP": {
            "type": "number",
            "description": "在抽样时要考虑的令牌的累计概率上限"
          },
          "topK": {
            "type": "integer",
            "description": "抽样时要考虑的令牌数量上限"
          }
        }
      },
      "GeminiContentResponse": {
        "type": "object",
        "properties": {
          "candidates": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GeminiCandidate"
            }
          },
          "promptFeedback": {
            "$ref": "#/components/schemas/GeminiPromptFeedback"
          },
          "usageMetadata": {
            "$ref": "#/components/schemas/GeminiUsageMetadata"
          }
        }
      },
      "GeminiCandidate": {
        "type": "object",
        "properties": {
          "content": {
            "$ref": "#/components/schemas/GeminiContent"
          },
          "finishReason": {
            "type": "string",
            "enum": ["STOP", "MAX_TOKENS", "SAFETY", "RECITATION"]
          },
          "safetyRatings": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GeminiSafetyRating"
            }
          },
          "tokenCount": {
            "type": "integer"
          }
        }
      },
      "GeminiSafetyRating": {
        "type": "object",
        "properties": {
          "category": {
            "type": "string"
          },
          "probability": {
            "type": "string",
            "enum": ["NEGLIGIBLE", "LOW", "MEDIUM", "HIGH"]
          }
        }
      },
      "GeminiPromptFeedback": {
        "type": "object",
        "properties": {
          "safetyRatings": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GeminiSafetyRating"
            }
          }
        }
      },
      "GeminiUsageMetadata": {
        "type": "object",
        "properties": {
          "promptTokenCount": {
            "type": "integer"
          },
          "candidatesTokenCount": {
            "type": "integer"
          },
          "totalTokenCount": {
            "type": "integer"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "API Key",
        "description": "API 密钥通过 Authorization 请求头传递"
      }
    }
  },
  "tags": [
    {
      "name": "Chat",
      "description": "聊天补全相关接口"
    }
  ]
}