{
  "openapi": "3.1.0",
  "info": {
    "title": "OpenRouter Completion API",
    "version": "1.0.0",
    "description": "OpenRouter completion API for text generation"
  },
  "servers": [
    {
      "url": "https://openrouter.ai/api/v1"
    }
  ],
  "paths": {
    "/completions": {
      "post": {
        "summary": "Send a completion request",
        "description": "Send a completion request to a selected model (text-only format)",
        "operationId": "createCompletion",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompletionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful completion response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompletionResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "CompletionRequest": {
        "type": "object",
        "required": ["model", "prompt"],
        "properties": {
          "model": {
            "type": "string",
            "description": "模型标识符"
          },
          "prompt": {
            "type": "string",
            "description": "生成提示文本"
          }
        }
      },
      "CompletionResponse": {
        "type": "object",
        "description": "完成响应对象"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}
