{
  "openapi": "3.1.0",
  "info": {
    "title": "New API",
    "description": "新一代大模型网关与AI资产管理系统",
    "version": "1.0.0",
    "contact": {
      "name": "QuantumNous",
      "url": "https://github.com/QuantumNous/new-api"
    }
  },
  "servers": [
    {
      "url": "https://api.llmhub.com.cn",
      "description": "生产环境"
    }
  ],
  "paths": {
    "/v1/chat/completions": {
      "post": {
        "summary": "OpenAI 对话格式（Chat Completions）",
        "description": "给定一组包含对话的消息列表，模型将返回一个响应。",
        "operationId": "createChatCompletion",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateChatCompletionRequest"
              },
              "examples": {
                "text_example": {
                  "summary": "基础文本对话",
                  "value": {
                    "model": "gpt-5-nano",
                    "messages": [
                      {
                        "role": "developer",
                        "content": "你是一个有帮助的助手。"
                      },
                      {
                        "role": "user",
                        "content": "你好！"
                      }
                    ]
                  }
                },
                "image_example": {
                  "summary": "图像分析对话",
                  "value": {
                    "model": "gpt-5-nano",
                    "messages": [
                      {
                        "role": "user",
                        "content": [
                          {
                            "type": "text",
                            "text": "这张图片里有什么？"
                          },
                          {
                            "type": "image_url",
                            "image_url": {
                              "url": "https://upload.wikimedia.org/wikipedia/commons/thumb/d/dd/Gfp-wisconsin-madison-the-nature-boardwalk.jpg/2560px-Gfp-wisconsin-madison-the-nature-boardwalk.jpg"
                            }
                          }
                        ]
                      }
                    ],
                    "max_tokens": 300
                  }
                },
                "function_call_example": {
                  "summary": "函数调用",
                  "value": {
                    "model": "gpt-5-nano",
                    "messages": [
                      {
                        "role": "user",
                        "content": "波士顿今天的天气怎么样？"
                      }
                    ],
                    "tools": [
                      {
                        "type": "function",
                        "function": {
                          "name": "get_current_weather",
                          "description": "获取指定位置的当前天气",
                          "parameters": {
                            "type": "object",
                            "properties": {
                              "location": {
                                "type": "string",
                                "description": "城市和州，例如 San Francisco, CA"
                              },
                              "unit": {
                                "type": "string",
                                "enum": ["celsius", "fahrenheit"]
                              }
                            },
                            "required": ["location"]
                          }
                        }
                      }
                    ],
                    "tool_choice": "auto"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功的响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateChatCompletionResponse"
                },
                "examples": {
                  "text_response": {
                    "summary": "文本对话响应",
                    "value": {
                      "id": "chatcmpl-B9MBs8CjcvOU2jLn4n570S5qMJKcT",
                      "object": "chat.completion",
                      "created": 1741569952,
                      "model": "gpt-4.1-2025-04-14",
                      "choices": [
                        {
                          "index": 0,
                          "message": {
                            "role": "assistant",
                            "content": "你好！我能为你提供什么帮助？",
                            "refusal": null,
                            "annotations": []
                          },
                          "logprobs": null,
                          "finish_reason": "stop"
                        }
                      ],
                      "usage": {
                        "prompt_tokens": 19,
                        "completion_tokens": 10,
                        "total_tokens": 29,
                        "prompt_tokens_details": {
                          "cached_tokens": 0,
                          "audio_tokens": 0
                        },
                        "completion_tokens_details": {
                          "reasoning_tokens": 0,
                          "audio_tokens": 0,
                          "accepted_prediction_tokens": 0,
                          "rejected_prediction_tokens": 0
                        }
                      },
                      "service_tier": "default"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": ["Chat"]
      }
    },
    "/v1/responses": {
      "post": {
        "summary": "OpenAI 响应格式（Responses）",
        "description": "创建与模型的有状态交互，将先前响应的输出用作输入。",
        "operationId": "createResponse",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateResponseRequest"
              },
              "examples": {
                "text_example": {
                  "summary": "基础文本响应",
                  "value": {
                    "model": "gpt-5-nano",
                    "input": "讲一个三句话的关于独角兽的睡前故事。"
                  }
                },
                "image_example": {
                  "summary": "图像分析响应",
                  "value": {
                    "model": "gpt-5-nano",
                    "input": [
                      {
                        "role": "user",
                        "content": [
                          {"type": "input_text", "text": "描述这张图片中的内容"},
                          {
                            "type": "input_image",
                            "image_url": "https://upload.wikimedia.org/wikipedia/commons/thumb/d/dd/Gfp-wisconsin-madison-the-nature-boardwalk.jpg/2560px-Gfp-wisconsin-madison-the-nature-boardwalk.jpg"
                          }
                        ]
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功的响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateResponseResponse"
                }
              }
            }
          }
        },
        "tags": ["Responses"]
      }
    },
    "/v1/messages": {
      "post": {
        "summary": "Anthropic 对话格式（Messages）",
        "description": "给定一组包含文本和/或图像内容的结构化输入消息列表，模型将生成对话中的下一条消息。",
        "operationId": "createMessage",
        "parameters": [
          {
            "name": "anthropic-version",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "指定要使用的 API 版本"
          },
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API 密钥"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMessageRequest"
              },
              "examples": {
                "text_example": {
                  "summary": "基础文本对话",
                  "value": {
                    "model": "claude-3-haiku-20240307",
                    "max_tokens": 1024,
                    "messages": [
                      {"role": "user", "content": "Hello, world"}
                    ]
                  }
                },
                "image_example": {
                  "summary": "图像分析对话",
                  "value": {
                    "model": "claude-3-haiku-20240307",
                    "messages": [
                      {
                        "role": "user",
                        "content": [
                          {
                            "type": "image",
                            "source": {
                              "type": "base64",
                              "media_type": "image/jpeg",
                              "data": "/9j/4AAQSkZJRg..."
                            }
                          },
                          {
                            "type": "text",
                            "text": "这张图片里有什么?"
                          }
                        ]
                      }
                    ]
                  }
                },
                "tool_example": {
                  "summary": "工具调用",
                  "value": {
                    "model": "claude-3-haiku-20240307",
                    "messages": [
                      {
                        "role": "user",
                        "content": "今天北京的天气怎么样?"
                      }
                    ],
                    "tools": [
                      {
                        "name": "get_weather",
                        "description": "获取指定位置的当前天气",
                        "input_schema": {
                          "type": "object",
                          "properties": {
                            "location": {
                              "type": "string",
                              "description": "城市名称,如:北京"
                            }
                          },
                          "required": ["location"]
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功的响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateMessageResponse"
                },
                "examples": {
                  "text_response": {
                    "summary": "文本对话响应",
                    "value": {
                      "content": [
                        {
                          "text": "Hi! My name is Claude.",
                          "type": "text"
                        }
                      ],
                      "id": "msg_013Zva2CMHLNnXjNJKqJ2EF",
                      "model": "claude-3-haiku-20240307",
                      "role": "assistant",
                      "stop_reason": "end_turn",
                      "stop_sequence": null,
                      "type": "message",
                      "usage": {
                        "input_tokens": 2095,
                        "output_tokens": 503
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": ["Anthropic"]
      }
    },
    "/v1beta/{model}:generateContent": {
      "post": {
        "summary": "Google Gemini 对话格式（Generate Content）",
        "description": "Google Gemini API 支持使用图片、音频、代码、工具等生成内容。",
        "operationId": "generateContent",
        "parameters": [
          {
            "name": "model",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "用于生成补全项的模型名称，格式：models/{model}，例如 models/gemini-2.0-flash",
            "example": "models/gemini-2.0-flash"
          },
          {
            "name": "key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API 密钥"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateContentRequest"
              },
              "examples": {
                "text_example": {
                  "summary": "基础文本对话",
                  "value": {
                    "contents": [{
                      "parts":[{"text": "Write a story about a magic backpack."}]
                    }]
                  }
                },
                "function_call_example": {
                  "summary": "函数调用",
                  "value": {
                    "system_instruction": {
                      "parts": {
                        "text": "You are a helpful lighting system bot. You can turn lights on and off, and you can set the color. Do not perform any other tasks."
                      }
                    },
                    "tools": [{
                      "function_declarations": [
                        {
                          "name": "enable_lights",
                          "description": "Turn on the lighting system."
                        },
                        {
                          "name": "set_light_color",
                          "description": "Set the light color. Lights must be enabled for this to work.",
                          "parameters": {
                            "type": "object",
                            "properties": {
                              "rgb_hex": {
                                "type": "string",
                                "description": "The light color as a 6-digit hex string, e.g. ff0000 for red."
                              }
                            },
                            "required": ["rgb_hex"]
                          }
                        },
                        {
                          "name": "stop_lights",
                          "description": "Turn off the lighting system."
                        }
                      ]
                    }],
                    "tool_config": {
                      "function_calling_config": {"mode": "auto"}
                    },
                    "contents": {
                      "role": "user",
                      "parts": {
                        "text": "Turn on the lights please."
                      }
                    }
                  }
                },
                "json_mode_example": {
                  "summary": "JSON 模式响应",
                  "value": {
                    "contents": [{
                      "parts":[
                        {"text": "List 5 popular cookie recipes"}
                      ]
                    }],
                    "generationConfig": {
                      "response_mime_type": "application/json",
                      "response_schema": {
                        "type": "ARRAY",
                        "items": {
                          "type": "OBJECT",
                          "properties": {
                            "recipe_name": {"type":"STRING"}
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功的响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateContentResponse"
                },
                "examples": {
                  "text_response": {
                    "summary": "文本对话响应",
                    "value": {
                      "candidates": [
                        {
                          "content": {
                            "parts": [
                              {
                                "text": "你好！我是 Gemini，一个由 Google 开发的人工智能助手。我可以帮助您解答问题、提供信息、协助写作、代码编程等多种任务。请告诉我有什么可以为您效劳的！"
                              }
                            ],
                            "role": "model"
                          },
                          "finishReason": "STOP",
                          "index": 0,
                          "safetyRatings": [
                            {
                              "category": "HARM_CATEGORY_SEXUALLY_EXPLICIT",
                              "probability": "NEGLIGIBLE",
                              "blocked": false
                            },
                            {
                              "category": "HARM_CATEGORY_HATE_SPEECH",
                              "probability": "NEGLIGIBLE",
                              "blocked": false
                            },
                            {
                              "category": "HARM_CATEGORY_HARASSMENT",
                              "probability": "NEGLIGIBLE",
                              "blocked": false
                            },
                            {
                              "category": "HARM_CATEGORY_DANGEROUS_CONTENT",
                              "probability": "NEGLIGIBLE",
                              "blocked": false
                            }
                          ],
                          "tokenCount": 47
                        }
                      ],
                      "promptFeedback": {
                        "safetyRatings": [
                          {
                            "category": "HARM_CATEGORY_SEXUALLY_EXPLICIT",
                            "probability": "NEGLIGIBLE"
                          },
                          {
                            "category": "HARM_CATEGORY_HATE_SPEECH",
                            "probability": "NEGLIGIBLE"
                          }
                        ]
                      },
                      "usageMetadata": {
                        "promptTokenCount": 4,
                        "candidatesTokenCount": 47,
                        "totalTokenCount": 51,
                        "promptTokensDetails": [
                          {
                            "modality": "TEXT",
                            "tokenCount": 4
                          }
                        ],
                        "candidatesTokensDetails": [
                          {
                            "modality": "TEXT",
                            "tokenCount": 47
                          }
                        ]
                      },
                      "modelVersion": "gemini-2.0-flash",
                      "responseId": "response-12345"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": ["Google Gemini"]
      }
    },
    "/v1beta/{model}:streamGenerateContent": {
      "post": {
        "summary": "Google Gemini 流式生成内容",
        "description": "流式生成内容接口，用于实时获取模型响应。",
        "operationId": "streamGenerateContent",
        "parameters": [
          {
            "name": "model",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "用于生成补全项的模型名称，格式：models/{model}，例如 models/gemini-2.0-flash",
            "example": "models/gemini-2.0-flash"
          },
          {
            "name": "key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "API 密钥"
          },
          {
            "name": "alt",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["sse"]
            },
            "description": "指定响应格式为服务器发送事件"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateContentRequest"
              },
              "examples": {
                "text_example": {
                  "summary": "基础文本对话",
                  "value": {
                    "contents": [{
                      "parts": [{"text": "写一个关于魔法背包的故事"}]
                    }]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "流式响应",
            "content": {
              "text/event-stream": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "tags": ["Google Gemini"]
      }
    }
  },
  "components": {
    "schemas": {
      "CreateChatCompletionRequest": {
        "type": "object",
        "required": ["model", "messages"],
        "properties": {
          "model": {
            "type": "string",
            "description": "要使用的模型 ID"
          },
          "messages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ChatCompletionMessage"
            },
            "description": "到目前为止包含对话的消息列表"
          },
          "temperature": {
            "type": "number",
            "minimum": 0,
            "maximum": 2,
            "default": 1,
            "description": "要使用的采样温度，介于 0 和 2 之间"
          },
          "top_p": {
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "default": 1,
            "description": "一种替代采样温度的方法，称为核采样"
          },
          "n": {
            "type": "integer",
            "minimum": 1,
            "default": 1,
            "description": "为每个输入消息生成多少个聊天补全选择"
          },
          "stream": {
            "type": "boolean",
            "default": false,
            "description": "是否使用服务器发送事件流式传输响应"
          },
          "stop": {
            "oneOf": [
              {"type": "string"},
              {"type": "array", "items": {"type": "string"}}
            ],
            "description": "API 将停止生成更多标记的最多 4 个序列"
          },
          "max_tokens": {
            "type": "integer",
            "description": "聊天补全中可以生成的最大标记数"
          },
          "presence_penalty": {
            "type": "number",
            "minimum": -2,
            "maximum": 2,
            "default": 0,
            "description": "介于 -2.0 和 2.0 之间的数字"
          },
          "frequency_penalty": {
            "type": "number",
            "minimum": -2,
            "maximum": 2,
            "default": 0,
            "description": "介于 -2.0 和 2.0 之间的数字"
          },
          "logit_bias": {
            "type": "object",
            "description": "修改指定标记出现在补全中的可能性"
          },
          "user": {
            "type": "string",
            "description": "表示最终用户的唯一标识符"
          },
          "tools": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ChatCompletionTool"
            },
            "description": "模型可能调用的工具列表"
          },
          "tool_choice": {
            "oneOf": [
              {"type": "string", "enum": ["none", "auto", "required"]},
              {
                "type": "object",
                "properties": {
                  "type": {"type": "string", "enum": ["function"]},
                  "function": {
                    "type": "object",
                    "properties": {
                      "name": {"type": "string"}
                    },
                    "required": ["name"]
                  }
                },
                "required": ["type", "function"]
              }
            ],
            "description": "控制模型调用哪个工具"
          }
        }
      },
      "ChatCompletionMessage": {
        "type": "object",
        "required": ["role"],
        "properties": {
          "role": {
            "type": "string",
            "enum": ["system", "user", "assistant", "tool", "developer"],
            "description": "消息作者的角色"
          },
          "content": {
            "oneOf": [
              {"type": "string"},
              {
                "type": "array",
                "items": {
                  "oneOf": [
                    {"$ref": "#/components/schemas/TextContentPart"},
                    {"$ref": "#/components/schemas/ImageContentPart"}
                  ]
                }
              }
            ],
            "description": "消息的内容"
          },
          "name": {
            "type": "string",
            "description": "参与者的可选名称"
          },
          "tool_calls": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ChatCompletionMessageToolCall"
            },
            "description": "模型生成的工具调用"
          },
          "tool_call_id": {
            "type": "string",
            "description": "此消息响应的工具调用"
          }
        }
      },
      "TextContentPart": {
        "type": "object",
        "required": ["type", "text"],
        "properties": {
          "type": {
            "type": "string",
            "enum": ["text"],
            "description": "内容部分的类型"
          },
          "text": {
            "type": "string",
            "description": "文本内容"
          }
        }
      },
      "ImageContentPart": {
        "type": "object",
        "required": ["type", "image_url"],
        "properties": {
          "type": {
            "type": "string",
            "enum": ["image_url"],
            "description": "内容部分的类型"
          },
          "image_url": {
            "type": "object",
            "required": ["url"],
            "properties": {
              "url": {
                "type": "string",
                "description": "图像的URL或base64编码的图像数据"
              },
              "detail": {
                "type": "string",
                "enum": ["auto", "low", "high"],
                "default": "auto",
                "description": "指定图像的详细级别"
              }
            }
          }
        }
      },
      "ChatCompletionTool": {
        "type": "object",
        "required": ["type", "function"],
        "properties": {
          "type": {
            "type": "string",
            "enum": ["function"],
            "description": "工具的类型"
          },
          "function": {
            "$ref": "#/components/schemas/FunctionObject"
          }
        }
      },
      "FunctionObject": {
        "type": "object",
        "required": ["name"],
        "properties": {
          "name": {
            "type": "string",
            "description": "要调用的函数名称"
          },
          "description": {
            "type": "string",
            "description": "函数功能的描述"
          },
          "parameters": {
            "type": "object",
            "description": "函数接受的参数，描述为JSON Schema对象"
          }
        }
      },
      "ChatCompletionMessageToolCall": {
        "type": "object",
        "required": ["id", "type", "function"],
        "properties": {
          "id": {
            "type": "string",
            "description": "工具调用的ID"
          },
          "type": {
            "type": "string",
            "enum": ["function"],
            "description": "工具的类型"
          },
          "function": {
            "type": "object",
            "required": ["name", "arguments"],
            "properties": {
              "name": {
                "type": "string",
                "description": "要调用的函数的名称"
              },
              "arguments": {
                "type": "string",
                "description": "用于调用函数的参数，由模型以JSON格式生成"
              }
            }
          }
        }
      },
      "CreateChatCompletionResponse": {
        "type": "object",
        "required": ["id", "object", "created", "model", "choices"],
        "properties": {
          "id": {
            "type": "string",
            "description": "响应的唯一标识符"
          },
          "object": {
            "type": "string",
            "description": "对象类型"
          },
          "created": {
            "type": "integer",
            "description": "响应创建时间戳"
          },
          "model": {
            "type": "string",
            "description": "使用的模型名称"
          },
          "choices": {
            "type": "array",
            "items": {
              "type": "object",
              "required": ["index", "message", "finish_reason"],
              "properties": {
                "index": {
                  "type": "integer"
                },
                "message": {
                  "$ref": "#/components/schemas/ChatCompletionMessage"
                },
                "logprobs": {
                  "type": "object",
                  "nullable": true
                },
                "finish_reason": {
                  "type": "string",
                  "enum": ["stop", "length", "tool_calls", "content_filter"]
                }
              }
            }
          },
          "usage": {
            "type": "object",
            "properties": {
              "prompt_tokens": {
                "type": "integer"
              },
              "completion_tokens": {
                "type": "integer"
              },
              "total_tokens": {
                "type": "integer"
              }
            }
          }
        }
      },
      "CreateResponseRequest": {
        "type": "object",
        "required": ["model", "input"],
        "properties": {
          "model": {
            "type": "string",
            "description": "用于生成响应的模型ID"
          },
          "input": {
            "oneOf": [
              {"type": "string"},
              {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/InputMessage"
                }
              }
            ],
            "description": "提供给模型的文本、图像或文件输入"
          },
          "instructions": {
            "type": "string",
            "description": "作为模型上下文中的第一项插入系统消息"
          },
          "stream": {
            "type": "boolean",
            "default": false,
            "description": "是否流式传输响应"
          },
          "tools": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ResponseTool"
            },
            "description": "模型在生成响应时可能调用的工具数组"
          }
        }
      },
      "InputMessage": {
        "type": "object",
        "required": ["role", "content"],
        "properties": {
          "role": {
            "type": "string",
            "enum": ["user", "assistant", "system", "developer"]
          },
          "content": {
            "oneOf": [
              {"type": "string"},
              {
                "type": "array",
                "items": {
                  "oneOf": [
                    {"$ref": "#/components/schemas/InputTextContent"},
                    {"$ref": "#/components/schemas/InputImageContent"}
                  ]
                }
              }
            ]
          }
        }
      },
      "InputTextContent": {
        "type": "object",
        "required": ["type", "text"],
        "properties": {
          "type": {
            "type": "string",
            "enum": ["input_text"]
          },
          "text": {
            "type": "string"
          }
        }
      },
      "InputImageContent": {
        "type": "object",
        "required": ["type", "image_url"],
        "properties": {
          "type": {
            "type": "string",
            "enum": ["input_image"]
          },
          "image_url": {
            "type": "string"
          }
        }
      },
      "ResponseTool": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": ["function", "file_search", "web_search_preview"]
          },
          "function": {
            "$ref": "#/components/schemas/FunctionObject"
          }
        }
      },
      "CreateResponseResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string"
          },
          "created_at": {
            "type": "integer"
          },
          "model": {
            "type": "string"
          },
          "output": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "CreateMessageRequest": {
        "type": "object",
        "required": ["model", "messages", "max_tokens"],
        "properties": {
          "model": {
            "type": "string",
            "description": "要使用的模型名称"
          },
          "messages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AnthropicMessage"
            },
            "description": "输入消息列表"
          },
          "max_tokens": {
            "type": "integer",
            "description": "生成的最大 token 数量"
          },
          "system": {
            "type": "string",
            "description": "系统 prompt，为 Claude 提供背景和指令"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "user_id": {
                "type": "string",
                "description": "与请求关联的用户的外部标识符"
              }
            },
            "description": "描述请求元数据的对象"
          },
          "stop_sequences": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "自定义的停止生成的文本序列"
          },
          "stream": {
            "type": "boolean",
            "default": false,
            "description": "是否使用服务器发送事件 (SSE) 来增量返回响应内容"
          },
          "temperature": {
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "default": 1.0,
            "description": "控制生成随机性，0.0 - 1.0"
          },
          "top_p": {
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "description": "使用 nucleus 采样"
          },
          "top_k": {
            "type": "integer",
            "minimum": 0,
            "description": "从 token 的前 K 个选项中采样"
          },
          "tools": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AnthropicTool"
            },
            "description": "定义模型可能使用的工具"
          },
          "tool_choice": {
            "oneOf": [
              {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": ["auto"]
                  },
                  "disable_parallel_tool_use": {
                    "type": "boolean",
                    "default": false
                  }
                },
                "required": ["type"]
              },
              {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": ["any"]
                  },
                  "disable_parallel_tool_use": {
                    "type": "boolean",
                    "default": false
                  }
                },
                "required": ["type"]
              },
              {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": ["tool"]
                  },
                  "name": {
                    "type": "string"
                  },
                  "disable_parallel_tool_use": {
                    "type": "boolean",
                    "default": false
                  }
                },
                "required": ["type", "name"]
              }
            ],
            "description": "控制模型如何使用提供的工具"
          }
        }
      },
      "AnthropicMessage": {
        "type": "object",
        "required": ["role", "content"],
        "properties": {
          "role": {
            "type": "string",
            "enum": ["user", "assistant"],
            "description": "消息作者的角色"
          },
          "content": {
            "oneOf": [
              {"type": "string"},
              {
                "type": "array",
                "items": {
                  "oneOf": [
                    {"$ref": "#/components/schemas/AnthropicTextContent"},
                    {"$ref": "#/components/schemas/AnthropicImageContent"}
                  ]
                }
              }
            ],
            "description": "消息内容"
          }
        }
      },
      "AnthropicTextContent": {
        "type": "object",
        "required": ["type", "text"],
        "properties": {
          "type": {
            "type": "string",
            "enum": ["text"]
          },
          "text": {
            "type": "string"
          }
        }
      },
      "AnthropicImageContent": {
        "type": "object",
        "required": ["type", "source"],
        "properties": {
          "type": {
            "type": "string",
            "enum": ["image"]
          },
          "source": {
            "type": "object",
            "required": ["type", "media_type", "data"],
            "properties": {
              "type": {
                "type": "string",
                "enum": ["base64"]
              },
              "media_type": {
                "type": "string",
                "enum": ["image/jpeg", "image/png", "image/gif", "image/webp"]
              },
              "data": {
                "type": "string",
                "description": "base64 编码的图片数据"
              }
            }
          }
        }
      },
      "AnthropicTool": {
        "type": "object",
        "required": ["name", "input_schema"],
        "properties": {
          "name": {
            "type": "string",
            "description": "工具名称"
          },
          "description": {
            "type": "string",
            "description": "工具描述"
          },
          "input_schema": {
            "type": "object",
            "description": "工具输入的 JSON Schema 定义"
          }
        }
      },
      "CreateMessageResponse": {
        "type": "object",
        "required": ["id", "type", "role", "content", "model", "stop_reason", "stop_sequence", "usage"],
        "properties": {
          "id": {
            "type": "string",
            "description": "响应的唯一标识符"
          },
          "type": {
            "type": "string",
            "enum": ["message"],
            "description": "对象类型"
          },
          "role": {
            "type": "string",
            "enum": ["assistant"],
            "description": "生成消息的会话角色"
          },
          "content": {
            "type": "array",
            "items": {
              "oneOf": [
                {"$ref": "#/components/schemas/AnthropicTextContent"},
                {"$ref": "#/components/schemas/AnthropicToolUseContent"}
              ]
            },
            "description": "模型生成的内容"
          },
          "model": {
            "type": "string",
            "description": "使用的模型名称"
          },
          "stop_reason": {
            "type": "string",
            "enum": ["end_turn", "max_tokens", "stop_sequence", "tool_use"],
            "description": "停止生成的原因"
          },
          "stop_sequence": {
            "type": ["string", "null"],
            "description": "生成的自定义停止序列"
          },
          "usage": {
            "type": "object",
            "required": ["input_tokens", "output_tokens"],
            "properties": {
              "input_tokens": {
                "type": "integer"
              },
              "output_tokens": {
                "type": "integer"
              }
            },
            "description": "计费和限流相关的使用量统计"
          }
        }
      },
      "AnthropicToolUseContent": {
        "type": "object",
        "required": ["type", "id", "name", "input"],
        "properties": {
          "type": {
            "type": "string",
            "enum": ["tool_use"]
          },
          "id": {
            "type": "string",
            "description": "工具使用的唯一标识符"
          },
          "name": {
            "type": "string",
            "description": "工具名称"
          },
          "input": {
            "type": "object",
            "description": "工具的输入参数对象"
          }
        }
      },
      "GenerateContentRequest": {
        "type": "object",
        "required": ["contents"],
        "properties": {
          "contents": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GeminiContent"
            },
            "description": "与模型当前对话的内容"
          },
          "tools": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GeminiTool"
            },
            "description": "模型可能用于生成下一个响应的工具列表"
          },
          "tool_config": {
            "type": "object",
            "properties": {
              "function_calling_config": {
                "type": "object",
                "properties": {
                  "mode": {
                    "type": "string",
                    "enum": ["MODE_UNSPECIFIED", "AUTO", "ANY", "NONE"]
                  },
                  "allowed_function_names": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            },
            "description": "请求中指定的任何工具的工具配置"
          },
          "safety_settings": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SafetySetting"
            },
            "description": "用于屏蔽不安全内容的 SafetySetting 实例列表"
          },
          "system_instruction": {
            "$ref": "#/components/schemas/GeminiContent",
            "description": "开发者设置的系统指令"
          },
          "generation_config": {
            "$ref": "#/components/schemas/GenerationConfig",
            "description": "模型生成和输出的配置选项"
          }
        }
      },
      "GeminiContent": {
        "type": "object",
        "properties": {
          "parts": {
            "type": "array",
            "items": {
              "oneOf": [
                {"$ref": "#/components/schemas/GeminiTextPart"},
                {"$ref": "#/components/schemas/GeminiInlineDataPart"}
              ]
            },
            "description": "有序的内容部分，构成单个消息"
          },
          "role": {
            "type": "string",
            "enum": ["user", "model", "function", "tool"],
            "description": "对话中内容的生产者"
          }
        }
      },
      "GeminiTextPart": {
        "type": "object",
        "required": ["text"],
        "properties": {
          "text": {
            "type": "string",
            "description": "纯文本内容"
          }
        }
      },
      "GeminiInlineDataPart": {
        "type": "object",
        "required": ["inline_data"],
        "properties": {
          "inline_data": {
            "type": "object",
            "required": ["mime_type", "data"],
            "properties": {
              "mime_type": {
                "type": "string",
                "description": "媒体的MIME类型"
              },
              "data": {
                "type": "string",
                "description": "base64编码的媒体数据"
              }
            }
          }
        }
      },
      "GeminiTool": {
        "type": "object",
        "properties": {
          "function_declarations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FunctionDeclaration"
            }
          },
          "code_execution": {
            "type": "object",
            "description": "启用模型执行代码"
          }
        }
      },
      "FunctionDeclaration": {
        "type": "object",
        "required": ["name"],
        "properties": {
          "name": {
            "type": "string",
            "description": "函数名称"
          },
          "description": {
            "type": "string",
            "description": "函数功能描述"
          },
          "parameters": {
            "type": "object",
            "description": "函数参数，JSON Schema格式"
          }
        }
      },
      "SafetySetting": {
        "type": "object",
        "required": ["category", "threshold"],
        "properties": {
          "category": {
            "type": "string",
            "enum": [
              "HARM_CATEGORY_HARASSMENT",
              "HARM_CATEGORY_HATE_SPEECH",
              "HARM_CATEGORY_SEXUALLY_EXPLICIT",
              "HARM_CATEGORY_DANGEROUS_CONTENT",
              "HARM_CATEGORY_CIVIC_INTEGRITY"
            ],
            "description": "安全类别"
          },
          "threshold": {
            "type": "string",
            "enum": [
              "BLOCK_LOW_AND_ABOVE",
              "BLOCK_MEDIUM_AND_ABOVE",
              "BLOCK_ONLY_HIGH",
              "BLOCK_NONE",
              "OFF"
            ],
            "description": "屏蔽阈值"
          }
        }
      },
      "GenerationConfig": {
        "type": "object",
        "properties": {
          "stopSequences": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "用于停止生成输出的字符序列集"
          },
          "responseMimeType": {
            "type": "string",
            "enum": ["text/plain", "application/json", "text/x.enum"],
            "description": "生成的候选文本的MIME类型"
          },
          "responseSchema": {
            "type": "object",
            "description": "生成的候选文本的输出架构"
          },
          "candidateCount": {
            "type": "integer",
            "description": "要返回的生成的回答数量"
          },
          "maxOutputTokens": {
            "type": "integer",
            "description": "候选回答中包含的令牌数量上限"
          },
          "temperature": {
            "type": "number",
            "minimum": 0,
            "maximum": 2,
            "description": "控制输出的随机性"
          },
          "topP": {
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "description": "在抽样时要考虑的令牌的累计概率上限"
          },
          "topK": {
            "type": "integer",
            "description": "抽样时要考虑的令牌数量上限"
          }
        }
      },
      "GenerateContentResponse": {
        "type": "object",
        "properties": {
          "candidates": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Candidate"
            },
            "description": "模型的候选回答列表"
          },
          "promptFeedback": {
            "type": "object",
            "properties": {
              "blockReason": {
                "type": "string",
                "enum": [
                  "BLOCK_REASON_UNSPECIFIED",
                  "SAFETY",
                  "OTHER",
                  "BLOCKLIST",
                  "PROHIBITED_CONTENT",
                  "IMAGE_SAFETY"
                ]
              },
              "safetyRatings": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/SafetyRating"
                }
              }
            },
            "description": "与内容过滤器相关的提示反馈"
          },
          "usageMetadata": {
            "type": "object",
            "properties": {
              "promptTokenCount": {
                "type": "integer"
              },
              "candidatesTokenCount": {
                "type": "integer"
              },
              "totalTokenCount": {
                "type": "integer"
              }
            },
            "description": "有关生成请求令牌用量的元数据"
          }
        }
      },
      "Candidate": {
        "type": "object",
        "properties": {
          "content": {
            "$ref": "#/components/schemas/GeminiContent"
          },
          "finishReason": {
            "type": "string",
            "enum": [
              "STOP",
              "MAX_TOKENS",
              "SAFETY",
              "RECITATION",
              "LANGUAGE",
              "OTHER",
              "BLOCKLIST",
              "PROHIBITED_CONTENT",
              "SPII",
              "MALFORMED_FUNCTION_CALL",
              "IMAGE_SAFETY"
            ]
          },
          "safetyRatings": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SafetyRating"
            }
          },
          "tokenCount": {
            "type": "integer"
          }
        }
      },
      "SafetyRating": {
        "type": "object",
        "properties": {
          "category": {
            "type": "string",
            "enum": [
              "HARM_CATEGORY_HARASSMENT",
              "HARM_CATEGORY_HATE_SPEECH",
              "HARM_CATEGORY_SEXUALLY_EXPLICIT",
              "HARM_CATEGORY_DANGEROUS_CONTENT",
              "HARM_CATEGORY_CIVIC_INTEGRITY"
            ]
          },
          "probability": {
            "type": "string",
            "enum": ["NEGLIGIBLE", "LOW", "MEDIUM", "HIGH"]
          },
          "blocked": {
            "type": "boolean"
          }
        }
      }
    },
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "API密钥需要以Bearer开头，例如：Bearer YOUR_API_KEY"
      },
      "XApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key",
        "description": "Anthropic API密钥"
      },
      "QueryApiKeyAuth": {
        "type": "apiKey",
        "in": "query",
        "name": "key",
        "description": "Google API密钥"
      }
    }
  },
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Chat",
      "description": "OpenAI兼容聊天补全相关接口"
    },
    {
      "name": "Responses",
      "description": "OpenAI兼容响应相关接口"
    },
    {
      "name": "Anthropic",
      "description": "Anthropic Claude相关接口"
    },
    {
      "name": "Google Gemini",
      "description": "Google Gemini相关接口"
    }
  ]
}
