{
  "openapi": "3.1.0",
  "info": {
    "title": "OpenRouter Completion API",
    "description": "Send a completion request to a selected model (text-only format)",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://openrouter.ai/api/v1"
    }
  ],
  "paths": {
    "/completions": {
      "post": {
        "summary": "Completion",
        "description": "Send a completion request to a selected model (text-only format)",
        "operationId": "createCompletion",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompletionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "CompletionRequest": {
        "type": "object",
        "required": ["model", "prompt"],
        "properties": {
          "model": {
            "type": "string"
          },
          "prompt": {
            "type": "string"
          }
        }
      }
    }
  }
}